<div class="container" style="margin-top: 20px">
  <div class="d-flex justify-content-center">
    <h1> Resultados </h1>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Correo</th>
          <th scope="col">Estilo Musical</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of encuesta">
          <td>{{item.id}}</td>
          <td>{{item.correo}}</td>
          <td>{{item.estiloMusical}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



