
<div class="pos-f-t" style="margin: 0.5%">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">

    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <button style="margin: 5px;" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container col-md-6" style="margin-top: 5%;">
  <div class="row">
    <button (click)="Agregar()" class="btn btn-light col-12 marginBtn">Encuesta</button>
  </div>
  <div class="row">
    <button (click)="Listar()" class="btn btn-light col-12 marginBtn">Resultados</button>
  </div>
  <div class="row">
    <button (click)="AcercaDe()" class="btn btn-light col-12 marginBtn">Acerca De</button>
  </div>
</div>

<router-outlet></router-outlet>
