<div class="container">
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <h1> Acerca De </h1>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Criterios de aceptación</h5>
      <p class="card-text">- El stack de herramientas es SpringBoot (JAVA), Angular y la base de datos a su preferencia..</p>
      <p class="card-text">
        - El formulario de encuesta tiene los campos:<br>
        a. Mail (único e identificador del usuario)<br>
        b. Rock, Pop, Jazz, Clásica, etc.
      </p>
      <p class="card-text">- Luego de esta respuesta, se le debe dar el feedback al usuario que fue exitosa o hubo errores en el formulario.</p>
      <p class="card-text">- Finalmente se debe mostrar una tabla con todos los resultados.</p>
      <p class="card-text">- Test unitario por capa.</p>
      <p class="card-text">- Aplicar patrones de diseño tanto para capa frontend como backend.</p>
      <p class="card-text">- Se revisará códigos por SonarQube.</p>
      <br>
      <br>
      <p class="card-text">by <strong>Camilo Valenzuela Massone</strong> </p>
    </div>
  </div>
</div>
