<div class="container col-md-6" style="margin-top: 20px">
  <div class="d-flex justify-content-center">
    <h1> Encuesta </h1>
  </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Estilo Musical</label>
      <select [(ngModel)]="encuesta.estiloMusical" class="form-select" aria-label="Default select example" name="first" [ngModelOptions]="{standalone: true}">
        <option value="POP">POP</option>
        <option value="CLÁSICA">CLÁSICA</option>
        <option value="ROCK">ROCK</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
      <input [(ngModel)]="encuesta.correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div>
      <button (click)="Guardar(encuesta)" type="submit" class="col-md-12 btn btn-light">Enviar</button>
    </div>
</div>
